{% extends 'base.html.twig' %}

{% block title %}
	{{gameDetails.name}}
{% endblock %}

{% block body %}
	<div>
		<div class="px-4 sm:px-0">
			<h3 class="text-base font-semibold leading-7 text-gray-900">{{ gameDetails.name }}</h3>
			{% for support in gameDetails.supports %}
				<p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
					{{ support.name }}
				</p>
			{% endfor %}
		</div>
		<div class="mt-6 border-t border-gray-100">
			<dl class="divide-y divide-gray-100">
				<div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
					<dt class="text-sm font-medium leading-6 text-gray-900">Editeur</dt>
					<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ gameDetails.editorName }}</dd>
				</div>
				<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
					<dt class="text-sm font-medium leading-6 text-gray-900">Genre</dt>
					<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ gameDetails.categoryName }}</dd>
				</div>
				<div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
					<dt class="text-sm font-medium leading-6 text-gray-900">Année de sortie</dt>
					<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ gameDetails.year |date('Y') }}</dd>
				</div>
				<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
					<dt class="text-sm font-medium leading-6 text-gray-900">Synopsis</dt>
					<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ gameDetails.story }}</dd>
				</div>
				<div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
					<dt class="text-sm font-medium leading-6 text-gray-900">A-t-il été fini une fois par votre serviteur ?</dt>
					<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
						{% if gameDetails.isFinished == 1 %}
							Fini au moins une fois
						{% else %}
							Pas encore
						{% endif %}
					</dd>
				</div>
			</dl>
		</div>
	</div>
	<div class="bg-white">

		<div class="overflow-x-auto border-x border-t">
			<table class="table-auto w-full">
				<thead class="border-b">
					<tr class="bg-gray-100">
						<th class="text-left p-4 font-medium">
							Quêtes
						</th>
						<th class="text-left p-4 font-medium">
							Possédé par
						</th>
						<th class="text-left p-4 font-medium">
							Session en cours
						</th>
						<th class="text-left p-4 font-medium">
							Quêtes en cours
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="border-b hover:bg-gray-50">
						<td class="p-4">
							Prof. Lucie Waters
						</td>
						<td class="p-4">
							basic@example.com
						</td>
						<td class="p-4">
							Administrator
						</td>
						<td class="p-4">
							Administrator
						</td>
					</tr>
					<tr class="border-b hover:bg-gray-50">
						<td class="p-4">
							Anahi Bashirian (You)
						</td>
						<td class="p-4">
							admin@example.com
						</td>
						<td class="p-4">
							Super Administrator
						</td>
						<td class="p-4">
							Super Administrator
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<a href="{{ path('games') }}">back to list</a>

	<a href="{{ path('game_edit', {'id': gameDetails.id}) }}">edit</a>

	{{ include('game/_delete_form.html.twig') }}
{% endblock %}
